// Import settings.
@import "../settings";

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background: $body-bg;
  color: $font-color;
  font-size: $font-size;
}

// Include font-family mixin.
@import "../mixins/font-family";
@include font-family;
