@include u(text-left) {
  text-align: left;
}

@include u(text-center) {
  text-align: center;
}

@include u(text-right) {
  text-align: right;
}

@include u(float-left) {
  float: left;
}

@include u(float-right) {
  float: right;
}

@include u(float-none) {
  float: none;
}

@include u(clearfix) {
  clear: both;
  &:before,
  &:after {
    content: " ";
    display: table;
  }
}

@include u(animation) {
  transition: all 250ms ease-in-out;
}