.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.float-none {
  float: none;
}

.clearfix {
  //@include clearfix;
}

@include u(animation) {
  @include transition(all 250ms ease-in-out);
}