// Import Gridle.
@import "../../node_modules/gridle/sass/gridle/gridle";
@import "base/settings";

// Do not generate settings in JSON format in CSS.
$gridle-generate-json-settings : false;

// Setup Gridle.
@include gridle_setup();

// Rename grid class names.
@include gridle_set_classname_map(container, ('container','-','%state'));
@include gridle_set_classname_map(row, ('row','-','%reverse','-','%state'));
@include gridle_set_classname_map(row-align, ('row','-','align','-','%align','-','%state'));
@include gridle_set_classname_map(row-full, ('row','-','full','-','%state'));
@include gridle_set_classname_map(row-debug, ('row','-','debug','-','%state'));
@include gridle_set_classname_map(nowrap, ('nowrap','-','%state'));
@include gridle_set_classname_map(wrap, ('wrap','-','%state'));
@include gridle_set_classname_map(col, ('col','-','%reverse','-','%state'));

@include gridle_set_classname_map(grid, ('grid','-','%column','-','%state'));
@include gridle_set_classname_map(grid-table, ('grid','-','table','-','%state'));
@include gridle_set_classname_map(grid-adapt, ('grid','-','adapt','-','%state'));
@include gridle_set_classname_map(grid-grow, ('grid','-','grow','-','%state'));
@include gridle_set_classname_map(grid-centered, ('grid','-','centered','-','%state'));

@include gridle_set_classname_map(push, ('push','-','%column','-','%state'));
@include gridle_set_classname_map(pull, ('pull','-','%column','-','%state'));
@include gridle_set_classname_map(prefix, ('prefix','-','%column','-','%state'));
@include gridle_set_classname_map(suffix, ('suffix','-','%column','-','%state'));

@include gridle_set_classname_map(hide, ('hide','-','%state'));
@include gridle_set_classname_map(show, ('show','-','%state'));
@include gridle_set_classname_map(show-inline, ('show','-','inline','-','%state'));
@include gridle_set_classname_map(not-visible, ('not','-','visible','-','%state'));
@include gridle_set_classname_map(visible, ('visible','-','%state'));
@include gridle_set_classname_map(float, ('float','-','%float','-','%state'));
@include gridle_set_classname_map(clear, ('clear','-','%float','-','%state'));
@include gridle_set_classname_map(clear-each, ('clear','-','each','-','%count','-','%state'));

@include gridle_set_classname_map(gutter, ('gutter','-','%side','-','%state'));
@include gridle_set_classname_map(no-gutter, ('no','-','gutter','-','%side','-','%state'));
@include gridle_set_classname_map(auto-height, ('auto','-','height','-','%state'));
@include gridle_set_classname_map(order, ('order','-','%column-count','-','%state'));


// Add .mobile and .tablet breakpoint CSS classes.
@include gridle_register_state(mobile, (
    max-width : 480px
));

@include gridle_register_state(moblet, (
    min-width : 481px,
    max-width : 768px
));

@include gridle_register_state(tablet, (
    min-width : 769px,
    max-width : 992px
));

// Generate all CSS classes.
@include gridle_generate_classes();

.container {
  max-width: $container-width;
  margin: 0 auto;
}