@include c(button) {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border: 0;

  @include m(default) {
    //
  }

  @include m(primary) {
    //
  }

  @include m(secondary) {
    //
  }

}